.content-body-main__right__container {
  display: table-cell;
  width: 27%;
  min-height: 500px;
  vertical-align:top;
  border-left: 1px solid $grey-3;

  .join-event-section {
    padding: 18px;
    font-size: 20px;
    color: $grey-dark-primary;
    border-bottom: 1px solid $grey-2-5;
    .btn {
      font-size: 20px;
      font-family: $kaiti;
      width: 48%;
      margin-top: 15px;
      display: inline-block;
    }
    .btn.btn-red-3d {
      margin-right: 4%;
    }
  }

  .events-members__list {
    padding: 0 15px;

    h1 {
      font-size: 30px;
      padding: 15px 0;
      color: $grey-7;
      font-family: $kaiti;
      overflow: hidden;
      div {
        float: left;
      }
      .superscript {
        margin-left: 2px;
        font-size: 25px;
      }
      .toggle__more-not-going {
        display: inline;
        font-size: 16px;
        margin: 7px 0 0 5px;
        color: $blue-text;
        text-decoration: underline;
        &:hover {
          @include hand-cursor;
        }
      }
    }
    .event-member__container {
      border-top: 1px solid $grey-2-5;
      padding: 15px 0;

      .user-avatar {
        float: left;
        width: 50px;
        height: 50px;
        border: 1px solid $grey-2-5;
      }

      .user-name {
        margin-left: 15px;
        float: left;
        width: 105px;
        height: 50px;
        line-height: 1.5;
      }

    }
  }

  .events-members__list.border-top {
    border-top: 1px solid $grey-3;
  }
}
