.navbar__container {
  z-index: 100;
  width: 100%;
  border-top: 1px solid $grey-3;
  border-bottom: 1px solid $grey-3;
  height: 65px;
  background-color: white;
  z-index: 10;
}

.navbar__logo-section, .navbar__search-group-section, .navbar__create-group-section {
  float: left;
}

.navbar__logo-section {
  @include bp__max-500 {
    display: none;
  }
}
.user-status, .navbar__user-section {
  float: right;
}

.navbar__content {
  margin: 0 auto;
  max-width: $content-width;

  @include bp__max-960 {
    padding-left: 15px;
    padding-right: 15px;
  };

  .navbar__logo {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #FF9496;
    width: 102px;
    margin: 7px 25px 7px 0;

    .logo {
      background: image-url("tqlogo.png") no-repeat scroll center center;
      margin: -1px 0 0 -1px;
      background-size: 105px;
      height: 50px;
    }
  }

  .navbar__action-btn {
    height: 58px;
    margin: 3px 0;
    border-radius: 5px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    padding: 5px 20px;

    @include bp__max-600 {
      padding: 5px 10px;
    }

    .large-text {
      color: $red;
      font-size: 30px;
      font-family: $kaiti;
      letter-spacing: 2px;
      line-height: 1;
    }
    .small-text {
      color: $grey-4;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .navbar__action-btn:hover {
    color: white;
    background-color: $red;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    .large-text {
      color: white;
    }
    .small-text {
      color: white;
    }
  }
}

.navbar__user-section {

  .session-btn {
    float: right;
    margin: 13px 0 0 10px;
  }

  .session-btn.icons {
    opacity: 0.8;
    display: none;
    @include bp__max-370 {
      margin: 10px 0 0 0;
      display: block;
    }
    i {
      color: $red-banner;
      display: inherit;;
      font-size: 22px;
    }
  }

  .navbar__user-section__inner {
    position: relative;
  }

  .user-avatar__container {
    display: inline-block;
    &:hover {
      @include hand-cursor;
    }
  }

  .user-avatar {
    overflow: hidden;
    float: left;
    margin-top: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    img {
      width: auto;
      height: 100%;
    }
    @include bp__max-500 {
      display: none;
    }
  }

  .navicon-caret {
    float: right;
    color: $grey-4;
    font-size: 20px;
    margin: 23px 0 0 8px;
    @include bp__max-500 {
      display: none;
    }
  }

  .navicon-hamburger {
    display: none;
    font-size: 37px;
    opacity: 0.9;
    margin-top: 15px;
    color: $red-banner;
    @include bp__max-500 {
      display: block;
    }
  }
}

#navbar__dropdown {
  position: absolute;
  z-index: 100;
  top: 55px;
  right: 0px;
  width: 150px;
  @include bp__max-420 {
    width: 100%;
    text-align: center;
  }

  .caret-up {
    left: 118px;
    @include bp__max-500 {
      left: 108px;
    }
    @include bp__max-420 {
      left: 87%;
    }
  }

  .dropdown__list {
    @include white-box-grey-border;
    padding: 5px 10px;

    .dropdown__item {
      font-family: $heiti;
      display: block;
      border-radius: 3px;
      padding: 10px 15px;
      border-bottom: 1px solid $grey-2;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: $red-banner;
        color: $white;
      }
    }
  }
}
