<div class="form-wrapper__container background-image__blur">
  <div class="form-wrapper" >

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "sky-form"}) do |f| %>
      <header>您好，请登录</header>

      <fieldset>
        <section>
          <div class="row">
            <label class="label col col-4">邮箱</label>
            <div class="col col-8">
              <label class="input">
                <i class="icon-append fa-user"></i>
                <%= f.email_field :email, autofocus: true %>
              </label>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <label class="label col col-4">密码</label>
            <div class="col col-8">
              <label class="input">
                <i class="icon-append fa-lock"></i>
                <%= f.password_field :password, autocomplete: "off" %>
              </label>
              <div class="note"><%= link_to "忘记密码？", new_password_path(resource_name) %></div>
            </div>
          </div>
        </section>

        <% if devise_mapping.rememberable? -%>
          <section>
            <div class="row">
              <div class="col col-4"></div>
              <div class="col col-8">
                <label class="checkbox">
                  <input type="checkbox" name="remember_me" checked><i></i>
                  下次自动登录
                </label>
              </div>
            </div>
          </section>
        <% end -%>
      </fieldset>

      <footer>
        <button type="submit" class="button"> 登录 </button>
        <a href="/users/sign_up" class="button button-secondary">免费注册</a>
      </footer>

    <% end %>

  </div>
</div>
