div {
  overflow: auto;
  zoom: 1;
  box-sizing: border-box;
  position: relative;
  font-family: inherit;
  font-color: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  color:inherit;
  cursor: hand;
  cursor: pointer;
}

.clearfix:after {
  display: block;
  content: " ";
  clear: both;

  font-size: 0;
  visibility: hidden;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
