.notice {
  color: $notice-text;
  background-color: $notice;
  text-align: center;
  padding: 5px 0;
}
.notice:empty {
  display: none;
}


.alert {
  color: $alert-text;
  background-color: $alert;
  text-align: center;
  padding: 5px 0;
}
.alert:empty {
  display: none;
}
