$content-width: 960px;

body [data-react-router-class~=AppRoutes] {
  overflow: none;
}

body {
  background-color: $grey-2;
}

.main {
  background-color: $grey-2;
  height: 100%;
  line-height: 1.2;
}
