$random: random(256)-1;

$red: #E23C40;
$red-lighter: #F35C60;
$red-banner: #E0393E;

$blue-text: #3987cb;
$blue-banner: #2A9BC7;
$blue-link: #009bff;
$blue-link-hover: #2a5db0;

$grey-1: #F9F9F9;
$grey-2: #F4F4F4;
$grey-2-5: #EEEEEE;
$grey-3: #DDDDDD;
$grey-4: #C0C0C0;
$grey-5: #888888;
$grey-6: #5A5A5A;
$grey-7: #505050;

$grey-10: #333333;

$white: #FFFFFF;
$black: #000000;

$green-2: #A2E1C1;
$green-3: #3EA86F;
$green-4: #17B566;
$green-5: #2EBC75;
