$heiti: "Microsoft Yahei","微软雅黑", "STXihei", "华文细黑", 'Heiti SC', sans-serif;
$kaiti: "KaiTi", "楷体", STKaiti, "华文楷体", serif;
$fangsong: "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
$songti: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;

body {
  font-family: $songti;
  letter-spacing: 1px;
}
