.group-page__container {
  @include content-container;
  overflow: visible;
  .group-page__container-inner {
  }
}


.group-banner__container {
  width: 100%;
  height: 160px;
  background-color: $grey-4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.group-body-left__container {
  float: left;
  width: 200px;
  height: 800px;
  background-color: $grey-4;
  margin-right: 10px;
}


.group-body-mid__container {
  float: left;
  width: 100%;
  max-width: 540px;
  height: 1000px;
    background-color: $grey-4;

}


.group-body-right__container {
  float: right;
  width: 200px;
  height: 700px;
    background-color: $grey-4;

}
