button {

}


button:hover {
  cursor: hand;
  cursor: pointer;
}

.btn {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;

  &:hover {
    @include hand-cursor;
  }
}

.btn-grey {
  background: $grey-2-5;
  color: $red-banner;

  &:hover {
    background: $grey-2;
    text-decoration: underline;
  }
}

.btn-green {
  padding: 6px 10px;
  margin: 10px 0;
  width: 115px;
  text-align: left;
  background: $grey-2;
  font-family: $kaiti;
  &:hover {
    border: none;
    background: $green-4;
    color: $white;
  }
}
