button {

}


button:hover {
  cursor: hand;
  cursor: pointer;
}

.btn {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;

  &:hover {
    @include hand-cursor;
  }
}

.btn-red__navbar {
  font-size: 16px;
  padding: 10px;
  background: $red-banner;
  color: $white;
  &:hover {
    background: $red-banner-dark;
  }
  &:before {
    content: "免费注册";
  }
  @include bp__max-600 {
    padding: 10px;
    &:before {
      content: "";
    }
    &:after {
      content: "登录／注册";
    }
  }
  @include bp__max-370 {
    display: none;
  }
}

.btn-white__navbar {
  background: $white;
  color: $blue-link-dark;
  opacity: 0.7;
  &:hover {
    color: $blue-link-dark;
    opacity: 1;
    text-decoration: underline;
  }
  @include bp__max-600 {
    display: none;
  }
}


.btn-grey {
  background: $grey-2-5;
  color: $red-banner;

  &:hover {
    background: $grey-2;
    text-decoration: underline;
  }
}

.btn-green {
  padding: 6px 10px;
  margin: 10px 0;
  width: 115px;
  text-align: left;
  background: $grey-2;
  font-family: $kaiti;
  &:hover {
    border: none;
    background: $green-4;
    color: $white;
  }
}
