.events-index__container {
  @include content-container;
  overflow: visible;
}

#date-changer__container.events-index__container-top {
  position: fixed;
  z-index: 10;
  background-color: $grey-2;
  -webkit-box-shadow: rgba(0,0,0,.5) 0 0 18px 0;
  box-shadow: rgba(0,0,0,.5) 0 0 18px 0;
  padding: 10px;
  overflow: visible;
  height: 1px;
  display: block;
  left: 0;
  right: 0;
  margin: -50px auto 0;
  max-width: 980px;
  display: none;
  @include bp__max-960 {
    margin-left: -10px;
  }
}

#date-changer {
  background-color: $grey-2;
  width: 1020px;
  height: 40px;
  top: -30px;
  color: #aaa;
  font-family: $kaiti;
  text-shadow: #fff 1px 1px 0;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 20px;
  margin-left: -30px;
  @include bp__max-960 {
    margin-left: -15px;
  };
}

.events-index__container-left {
  max-width: 700px;
  width: 100%;
}

.events-index__time-frame__date {
  color: #aaa;
  font-family: $kaiti;
  text-shadow: #fff 1px 1px 0;
  font-size: 20px;
  margin: 18px 0 5px;;
}
.events-index__time-frame__events {
  @include white-box-grey-border;
  .events-index__item-container:last-child {
    border-bottom: none;
  }
}

.events-index__item-container {
  background-color: $white;
  min-height: 100px;
  font-size: 13px;
  line-height: 1.2;
  border-bottom: 1px solid $grey-3;
  color: $grey-5;
}

.events-index__container-inner-left {
  float: left;
  padding: 15px 10px;
  width: 20%;
  .left {
    float: left;
    font-size: 16px;
    margin-right: 3px;
  }
  .right {
    float: left;
    font-size: 10px;
  }
}

.events-index__container-inner-right {
  float: left;
  padding: 15px 10px;
  width: 80%;

  .top {
    margin-bottom: 7px;
  }
  .mid {
    color: $grey-10;
    margin-bottom: 7px;
    font-size: 20px;
  }
}
