.events-index__container {
  @include content-container;
  overflow: visible;
  .events-index__container-inner {

  }
}

.events-index__item-container {
  background-color: $white;
  width: 670px;
  margin: 10px auto;
}
