.group-events-index__item-container {
  padding: 20px;
  border-top: 1px solid $grey-3;

  &:first-child {
    border-top: none;
  }

  .top {
    font-family: $kaiti;
    font-weight: bold;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid $grey-2;
    padding-bottom: 10px;
  }

  .body {
    .left {
      padding: 8px 5px 8px 0px;
      width: 350px;
      float: left;
      border-right: 1px solid $grey-2;

      .location_name {
        font-size: 18px;
      }

      .location_address {
        font-size: 12px;
        color: $grey-5;
        margin: 7px 0 10px;
      }

      .users-strip {
        img {
          width: 30px;
          height: 30px;
          background-color: $grey-2;
          margin-right: 3px;
        }
      }

      .description {
        margin-top: 10px;
        font-size: 14px;
        font-family: $heiti;
        opacity: 0.8;
        color: $grey-6;
        line-height: 20px;
        letter-spacing: 1px;
        overflow: hidden;
      }

      .hosted-by {
        margin-top: 10px;
      }
    }

    .right {
      float: right;
      width: 145px;
      padding: 8px 0px 8px 10px;

      .date {
        color: $grey-5;
      }

      .btn-green {
        margin-left: -5px;
      }

      .time {
        color: $grey-5;
        font-size: 14px;
        margin-top: 10px;
      }

      .num-going {
      }
    }
  }
}
