<h1>Update Profile</h1>

<%= form_for @user, url: "/profile" do |f| %>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :username %>
        <label for="username">Username/label>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :email %>
        <label for="email">email</label>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :phone %>
        <label for="phone">Phone</label>
      </div>

    </div>

    <div class="row">
      <button type="submit" class="btn right">Save</button>
    </div>
  </form>
</div>
<% end %>
